
        body {
         overflow:hidden ;
         height:100vh;
         background-size: cover;
         background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.6)),url(/static/backgrounddesk2.jpg);

        }
        header {
            position: absolute;
            z-index: -1;
            width: 100%;
        }

        h1, h2, h3, h4, h5, h6 {
         font-family: 'Crimson Text', serif;
        }
        a{
         color:black;
        }
        a:hover{
         text-decoration:none;
         color:black;
        }
        ul{
        list-style-type:none;
        padding:0;
        }


        .debug{
        border:2px solid rgba(255,0,0,0.5)
        };

        header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: bottom;
        z-index: 1000;
        padding:20px 40px 0;
        }
        .nav{
            padding: 0.7rem 0.5rem;
        }
        #home
        {
          font-size:1.5rem;
          letter-spacing: 0.05em;
          font-weight:bold;
          margin-right:auto;
          color: white;
          text-shadow:3px 3px black ;
        }
        #fp-nav{
          margin: 0;
          -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
          width: 40px;
          left: 20px;

        }
        #fp-nav{
          top: 50%;
          opacity: 1;
          position: fixed;
          z-index: 100;
        }
        .contact-icon,.line-icon {
          height:32px;
          margin:0px 10px;
        }

       .line::after{
        content:url("{% static 'line.svg' %}");
        width: 30px;
        height: 30px;
        }


        #title{
        position:absolute;
        width:900px;
        height:300px;
        z-index:2;
        top:30%;
        

        }
        #title > div{
        position:relative;
        }
        #portfolio{
        
        position:absolute;
        color:rgb(255,255,255);
        font-size:2.5rem;
        font-weight:500;
        letter-spacing:.3rem;
        overflow:hidden;
        top:1000px;
                
        
        }
        #portfolio svg{
           width:230px;  
           box-shadow: 10px 10px black;
          
          }


        #ryanTsai{
        color:rgb(255,0,50);
        font-size:6rem;
        font-weight:500;
        letter-spacing:.4rem;
        text-align: center;
        }
        #ryanTsaiSvg path {

        }
        #skill{
        position:absolute;
        color:rgb(217,217,217);
        font-size:1rem;
        font-weight:100;
        top:8rem;
        letter-spacing:.1rem;

        }
        .arrow {
          position: absolute;
          bottom: 0;
          left:50%;
          transform: translate(-50%,0);
        }
        .arrow img{
          width:50px;
          height:50px;

        }
        .scroll-down{
          position:absolute;
          bottom: 0;
          right:0;          
          color:white;
          opacity:1;          
          letter-spacing: 1px;
          font-size:0.5rem;
        }
        .scroll-down::before{
          content:url('/static/scroll.svg');
          width:20px;
          height:20px;

        }
        .section:second-of-type{
          position: relative;
         
          
        }
        #catalog-section{
          position:relative;
        }
        #catalog-outside {
          position: absolute;
          left:50%;
          transform: translate(-50%);
          height:100%;
          width: fit-content;
        }
        #catalog-title{
          color:white;
          font-size:3rem;
          text-shadow: 2px 2px black;
          letter-spacing:3px;
          font-weight:bold;
          font-stretch: expanded;
          text-align:center;
          margin-top: 5%;
        }
        #catalog-intro{
          color:white;
          font-size:1.2rem;
          font-weight:100;
          letter-spacing:.1rem;          
          text-shadow: 1px 1px black;
          letter-spacing:3px;
          text-align:center;
          margin-bottom:10px;
        }
        #catalog-item-outside div{
          flex:1;
          border: 0.5px solid white;
          text-decoration: none;          
          font-size:1rem;
          text-align:center;
          color: white;
          padding: 0.5rem 1rem;
          line-height:1.5rem;
          border-radius: 4px;
          margin-left: 7px;
          margin-right:7px;
          text-shadow: 1px 1px black;
        }
        #catalog-item-outside div:hover{
          cursor:pointer;
          
        }
        .catalog-item-click{
          background:#C80026;
          cursor:pointer;
          box-shadow: 2.5px 2.5px black;
        }
        #catalog-items-title{
          text-shadow: 1px 1px rgb(217,217,217);
          text-decoration: none;
          font-size:2rem;
          display: block;
          color: white;
          padding:0.2rem 0rem;
          padding-top:0.8rem;

        }
        #catalog-items-image{
          height:50%;
          width:600px;
          border: 0.5px solid white;
          position: relative;
        }
        #catalog-items-image img{     
          vertical-align: top;     
          width:100%;
          height:100%;
         }
         #catalog-image-hover {
           display: flex;
           justify-content: center;
           align-items: center;
          text-align: center;
          color:white;
          position: absolute;
          width: 100%; height:100%;
          top:0; left:0;
          background:rgba(0,0,0,0.6);
          opacity: 0;
          transition: all 1s;
          -webkit-transition: all 1s;
          cursor: pointer;
          
      }
      #catalog-image-hover:hover{
        opacity: 1;
      }
      #catalog-image-hover span {
        text-align: center;
        color:white;
        font-weight: bold;
        font-size: 1.2rem;
        text-shadow: 1px 1px black;
        letter-spacing: 3px;
        
    }
    #myModal{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
    }
    #modal-dialog-control{
      position: relative;
      height:100%;
      width:100%;

    }
    .modal-dialog{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) !important;
      width:600px;
      

    }
    .modal-backdrop {
      z-index: -1;
    }
    .modal-title{
      display: flex;
      width:100%;
    }
    .modal-title>* {
      margin-left:6px;
      margin-right:6px;
    }
    .modal-title img{
      border-radius: 50%;
      width:64px;
      height:64px;
      border:1px solid black;      
    }
    .catalog-detail-title{      
      color: black;
      font-weight: 600;
      font-size: 1.2rem;      
      text-decoration: underline;
      margin-bottom: 3px;     
      text-shadow: 1px 1px rgb(217 217 217 / 80%);
      line-height: 2rem;
    }
    .catalog-detail-proj{      
      color:gray;      
      font-size: 0.6rem;      
      letter-spacing: 1px;
    }
    .catalog-detail-view{
      background: #C80026;
      color: white;   
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding: 0;
      border-radius: 4px;
      border: 0px;
      height: fit-content;
      margin-top: 5px;
      padding: 0px 10px;
      cursor: pointer;
    }
    .catalog-detail-view:hover{
      box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 80%);
      color:white;

    }
    .modal-body p{
      color: black;
      font-size: 0.6rem;
      letter-spacing: 1px;
    }

